.root {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #dddddd;
}

.label, .check-box {
    -fx-text-fill: #ffffff;
}

.text-area, .text-field {
    -fx-control-inner-background: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-highlight-fill: #555555;
    -fx-highlight-text-fill: #ffffff;
}

.button {
    -fx-background-color: #555555;
    -fx-text-fill: #ffffff;
}

.choice-box {
    -fx-background-color: #2b2b2b;
    -fx-mark-color: #ffffff;
}

.choice-box > .label {
    -fx-text-fill: #ffffff;
}

.choice-box .context-menu {
    -fx-background-color: #2b2b2b;
}

.choice-box .menu-item {
    -fx-background-color: #2b2b2b;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #dddddd;
}

.choice-box .menu-item:focused {
    -fx-background-color: #555555;
}
